<div class="bgs">
  <div
    class="container land d-flex justify-content-center align-items-center w-50"
  >
    <div class="card p-3 bg-transparent shadow-lg">
      <h1 class="text-center text-primary">Welcome to Angular Forms</h1>
      <small class="text-center text-danger">
        Please click on the buttons on the top right of Navbar to access the
        content.
      </small>
      <p class="mt-4 p-4 text-wrap">
        Handling user input with forms is the cornerstone of many common
        applications. Applications use forms to enable users to log in, to
        update a profile, to enter sensitive information, and to perform many
        other data-entry tasks. Angular provides two different approaches to
        handling user input through forms: reactive and template-driven. Both
        capture user input events from the view, validate the user input, create
        a form model and data model to update, and provide a way to track
        changes.
      </p>
    </div>
  </div>
</div>
